.header {
    background: rgb(125,161,220);
    background: linear-gradient(90deg, rgba(125,161,220,1) 26%, rgba(249,247,247,1) 74%);
  }
  
  .header-cont {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .logo {
    max-width: 80px;
  }
  
  .title {
    text-align: center;
    color: black;
  }
  
  .banner {
    width: 100%;
    max-height: 300px;
  }