* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background: rgb(36,31,31);
  background: linear-gradient(90deg, rgba(36,31,31,1) 15%, rgba(196,130,65,1) 49%, rgba(85,92,94,1) 77%, rgba(152,162,168,1) 100%);
}

.header-cont {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  max-width: 125px;
}

.title {
  text-align: center;
  color: white;
}

.banner {
  width: 100%;
  max-height: 300px;
}

.movielist {
  margin-top: 15px;
}

.movie {
  max-width: 800px;
  border: 2px solid black;
  text-align: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 20px;
  background-color: azure;
}